*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  background-color: black;
  font-family: 'Heebo', sans-serif;
}
.landing {
  background-color: black;
  display: flex;
  width: 110%;
 height: 110vh;
 height: 110dvh;
}
/*Big title home*/
.big-text {
  display: flex;
  position: absolute;
  width: max(350px, 50%, 40vh);
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-family: 'Heebo', sans-serif;
  color: #00ccff;
}

/*principal page*/
.profil{
  display: flex;
  position: absolute;
  width: max(400px, 50%, 50vh);
  padding: auto;
  margin: 0 auto;
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: 'Heebo', sans-serif;
  color: #00ccff;
}
@media screen and (max-width:40em) {
  .landing {
   height: 135vh;
   height: 135dvh;
  }
 .big-text{
   top: 50%;
   left: 50%;
  }
  .profil{
    width: max(300px, 50%, 40vh);
    top: 100%;
    left: 50%;
  }

}
.photo{
  position: absolute;
  width: 50%;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background:rgb(233, 233, 233);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.intro-text {
  color: rgb(233, 233, 233);
  font-family: 'Heebo', sans-serif;
  font-size: 3rem;
}
.hide {
  color: #00ccff;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}
/* navigation menu close*/
.menu-open{
  color: #00ccff;
  font-size: 2rem;
  background-color:black;
}
.menu-open,
.menu-close{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top:0;
  right: 0;
  padding: 3%;
  font-size: 1.2em;
  cursor: pointer;
}
.nav-container {
  position: fixed;
  left:-100%;
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;
}
.nav-container  .active{
  left:0;
  position: fixed;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #9ac7d2;
  transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.menu{
  padding: 12vh 0 24vh;
}
.menu__item-link{
  display: inline-block;
  font-size:5vw;
  cursor: pointer;
  transition: opacity 0.1s;
  line-height: 100px;
  text-decoration: none;
  color: black;
}
.menu__item-img{
  position: relative;
  top: 10px;
  padding: 0 20px;
  z-index: 2;
  pointer-events: none;
  height: 10vh;
  max-height: 600px;
  opacity: 1;
  transform: scale(0);
}
.menu__item:hover > .menu__item-img{
  transform: scale(1);
  transition: all 0.2s;
}
@media screen and (max-width:1000px) {
  .menu__item-link{
    font-size: 8vw;
    line-height: 70px;
  }
}
/*contact form*/
.container2{
  background-color: black;
  width: 100%;
  height: 80vh;
  height: 80dvh;
}
.bt{
  display: none;
}
.glass{
  transform: translate(50%,20%);
  top:80%;
  opacity: 0.5;
  width: 60%;
  aspect-ratio: 16/9;
  background-color: rgba(0,204,255, 0.3);
}
input{
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white;
}
#button{
  background-color: #00ccff;
  color: white;
  border-radius: 5%;
  border: none;
  padding: 18px 50px;
  font-size: 1.5rem;
  margin-left: 40%;
  
}
#button:hover{
  transition-delay:.2s;
  color:#00ccff;
  background:white;
  border-radius: 10%;
  border: 3px solid rgba(0,204,255, 0.5);
}
/*footer*/
.container3{
  width: 100%;
  height: 10vh;
  background-color: black;
  color:white;
}
